button {

}
.container {
    margin: 0 auto;
    min-width: 500p;
    width: 45%;
    text-align: left;
    color: #3b3b3b;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.comment {
    font-weight: normal;
    font-size:12px;
}


form {
    outline: 0;
    height: 36px;
    margin-top: 5%;
    border: 3px solid #3b3b3b;
}

input[type="text"] {
    outline: 0;
    width: 60%;
    height: 32px; /* 32px before */
    border: none;
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
}

.add {
    outline: 0;
    float: right;
    width: 34%;
    height: 36px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #3b3b3b;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}


/* li added*/
li {
    height: 32px;
}


hr {
    border-bottom: 0;
    margin: 5px 0; /* 15px before */
}

input[type="checkbox"] {
    width: 30px;
}

.remove {
    float: right;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.before {
    background: red;
}

.ui-state-highlight {
    height: 20px; line-height: 20px;
    margin: 5px 0;
    border: 1px solid #FCEFA1;
    background: #FBF9EE repeat-x scroll 50% 50%;
    color: #363636;
}

.ui-widget-header {
    color: #222;
    font-weight: bold;
}

.impediment {
    float: left;
    cursor: pointer;
}

a.state_off {
    color: #D8D7D7;
}

a.state_on {
    color: #E91C55 ;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 10px;
}