<!--       <li data-chris="{{ entry.update_modal_entry_url }}" id="entry_{{ entry.id }}" class="ui-state-default">
Entry actually only need inside the LI tag
inside LI tag is replaced when AjaxForm post is sucessuful

 -->

         <a class="ui-btn" data-ajax="false">{{ entry }}</a>
<a class="ui-btn ui-btn-icon-notext ui-icon-gear ui-btn-a" data-transition="pop" data-position-to="window" data-rel="popup" href="#details" aria-haspopup="true" aria-owns="details" aria-expanded="false" title="Details"></a>
<!--       </li>
 -->

