{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="Master the to-do lists for you and your peers!">
	<meta name="author" content="">
	<!-- Image for LinkedIn and Facebook -->
	<meta property="og:title" content="Zoomi" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://zoomi.garconnet.ch" />
	<meta property="og:image" content="http://zoomi.garconnet.ch/static/images/cover_light.jpg" />
	<meta property="og:description" content="Master the to-do lists for you and your peers!">


	<title>Zoomi</title>


{% block css_js %}

	<!-- CSS -->

	<!-- BOOTSTRAP on network to work with Heroku Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- 
 	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet" media="screen">
	 Local set-up -->
	<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "css/simple-line-icons.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "css/animate.css" %}" rel="stylesheet">

	<!-- Custom styles CSS -->
	<link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    
    <script src="{% static "js/modernizr.custom.js" %}"></script>

	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> <!-- for sortable UI -->


{% endblock %}

</head>


<!-- Metrics for Google Stats -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-68624675-1', 'auto');
  // ga('send', 'pageview');

</script>

<body>


{% block animation %}
{% endblock %}

	<!-- Home end -->

	<!-- Navigation start -->

{% block navigation %}
	<header class="header">

		<nav class="navbar navbar-custom" role="navigation">

			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#create-collapse">
						<span class="sr-only">Toggle form</span>
						<span class="glyphicon glyphicon-plus">
					</button>
					<a class="navbar-brand" href="/">Zoomi</a>
				</div>

			{% if user.is_authenticated %}
				<div class="collapse navbar-collapse" id="create-collapse" data-role="navbar">
					<div class="menucreate">
						<div class="container">
							{% include 'entry/create.html' %}
						</div>
					</div>
				</div>
			{% endif %}
				<div class="collapse navbar-collapse" id="custom-collapse" data-role="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
<!--
						<li><a href="#services">Services</a></li>
	 	                <li><a href="#portfolio">Works</a></li>
                        <li><a href="#skills">Skills</a></li> -->

						{% if user.is_authenticated %}

<!-- 						{{ user.first_name }} -->
						<li>
						    <a class="page-scroll" href="/transferred">Transferred <span class="badge">{{ user.userprofile.get_entry_transfered }}</span></a>
						</li>
						<li>
						    <a class="page-scroll" href="/themes">Themes</a>
						</li>
						<li>
						    <a class="page-scroll" href="/user/details">Profile</a>
						</li>
						<li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">?<span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a href="/static/ZoomiHelpPage.pdf">Help</a></li>
					            <li><a href="/releases">Releases</a></li>
<!-- 					            <li role="separator" class="divider"></li>
					            <li><a href="#">Separated link</a></li> -->
					          </ul>
					    </li>
						<li>
						    <a class="page-scroll" href="/logout">Logout</a>
						</li>
						{% else %}
						<li>
						    <a class="page-scroll" href="/static/ZoomiHelpPage.pdf">Help</a>
						</li>
						<li>
						    <a class="page-scroll" href="/entrance">Log in</a>
						</li>
						{% endif %}
<!-- 						<li><a href="#testimonials">Testimonials</a></li> 
						<li><a href="#contact">Contact</a></li>
 -->					</ul>
				</div>

			</div><!-- .container -->

		</nav>

	</header>

{% endblock %}

	<!-- Navigation end -->

    <!-- Sub-page_title start -->

<div class="container">
	<div class="row">
		<div class="col-sm-12">

{% block page_sub_title %}


{% endblock %}
		</div>
	</div>
</div>
	<!-- Sub-page_title end -->


{% block content %}



    <!-- Services start -->

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">We can help you</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							to master your to-do lists for you and your peers<br>
							from any device
						</div>
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-plus"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">List</h3>
							<div class="iconbox-desc">
								all your themes, actions and progresses 
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-magic-wand"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Prioritize</h3>
							<div class="iconbox-desc">
								in a Kanban style with sections and manual sorting 
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<div class="iconbox-icon">
							<span class="icon-badge"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Visualize</h3>
							<div class="iconbox-desc">
								the time spent and work done vs to be done
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInLeft">
						<div class="iconbox-icon">
							<span class="icon-puzzle"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Share</h3>
							<div class="iconbox-desc">
								actions with your peers and get notified when they're done
							</div>
						</div>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- Services end -->
    
	<!-- Portfolio start -->
	<!-- Portfolio end -->
    
    <!-- Skills start -->  
    <!-- Skills end -->

	<!-- CallToAction start -->
	<section class="calltoaction">
		<div class="container">

			<div class="row">

				<div class="col-md-12 col-lg-12">
					<h2 class="wow slideInRight" data-wow-delay=".1s">Eager TO START?</h2>
					<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
						Let's create your first Action, Theme and Sections (see <a href="/static/ZoomiHelpPage.pdf">help more details</a>).
					</div>
				</div>

				<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
					<a href="/entrance/" class="btn btn-lg">Let me get it</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- CallToAction end -->


	<!-- Testimonials start -->
	<section id="testimonials" class="pfblock pfblock-gray" style="display:none">

		<div class="container">
            
            <div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">What our clients say</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Who never try get nothing.
						</div>
					</div>

				</div>

			</div><!-- .row -->

            <div class="row">

			<div id="cbp-qtrotator" class="cbp-qtrotator">
                <div class="cbp-qtcontent">
                    <img src="{% static "images/client-1.jpg" %}" alt="client-1" />
                    <blockquote>
                      <p>I was confused with 2 similar yet different career opportunities in hand. Christophe brainstormed me and made me think in depth about [...] and it slowly came to me.</p>
                      <footer>Anil B.</footer>
                    </blockquote>
                </div>
                <div class="cbp-qtcontent">
                    <img src="{% static "images/client-2.jpg" %}" alt="client-2" />
                    <blockquote>
                      <p>I have never met Christophe in person; yet he has laid a solid impression on my thinking and perception on my own career choices, ambitions and how I look at it [...] He is very clear, calm-minded and helpful person.</p>
                      <footer>Eva R.</footer>
                    </blockquote>
                </div>

            </div>		

            </div><!-- .row -->

					
		</div><!-- .row -->
	</section>

	<!-- Testimonial end -->



{% endblock %}

{% block pagination %}
{% endblock %}

	<!-- Footer start -->

{% block footer %}


	<footer id="footer" class="navbar navbar-default"> <!-- if fixed set-up but not really working 
		class="navbar navbar-default navbar-fixed-bottom" -->
		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="index.html#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
					</ul>

					<p class="heart">
                        Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Paris
                    </p>
                    <p class="copyright">
                        © 2015 <a href="http://conseil.garconnet.ch" target=_new >Conseils à la carte</a> | Images: <a href="https://unsplash.com/">Unsplash</a> & <a href="http://zoomwalls.com/">Zoomwalls</a>
					</p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

	<!-- Footer end -->

	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#home"><i class="fa fa-angle-up"></i></a>
	</div>
    
    <!-- Scroll to top end-->

	<!-- Javascript files -->


{% endblock %}


	<!-- Javascript for sortable on touch -->
    <script src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>
	<!-- Javascript for Ajax Form submission -->
	<script src="https://malsup.github.com/jquery.form.js"></script> 

<!-- Script from Zoomi.JS to make it work on FireFox for Google Stats -->

<script>

function InitiateDate(field) {
	if (field.value == '') {
		maDate = new Date();
		field.value= maDate.getFullYear() + "-" + ("0"+(maDate.getMonth()+1)).slice(-2) + "-" + ("0"+(maDate.getDate()+3)).slice(-2);
	}

}

	$(document).ready(function () {


	// Force scrolling to the top, otherwise, the focus on the crete form make the page going to the down
	    $(this).scrollTop(0);



	    // $('#editModal').on('show.bs.modal', function (event) {
	      
	    //   $("#editModalContent").load($(this).attr('data-to-load'));

	    //   $(this).attr('data-to-load') button = $(event.relatedTarget) // Button that triggered the modal
	    //   var recipient = button.data('whatever') // Extract info from data-* attributes
	    //   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	    //   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	    //   var modal = $(this)
	    //   modal.find('.modal-title').text('New message to ')
	    //   modal.find('.modal-body input').val(recipient)
	    // })


	        $(document).on("click", ".options", function(){
	//  click on the gear
	            $("#edit_entry").load($(this).attr('data-to-load'));
	            setTimeout( function() {
	                $("#edit_entry").popup("open");
	            }
	                , 50);
	// ???          $(this).parent().toggleClass("state_on");
	        })


	// Code for the modal
	$('#editModal').on('show.bs.modal', function(event) {
	    var button = $(event.relatedTarget) // Button that triggered the modal

// v1
 /*
	    $("#editModalContent").load(button.data('toload'));
*/

// v2 - to make it work with cross-origin issue
		$.ajax({
		    type: "GET",
		    headers: {"Access-Control-Allow-Origin": "*"},
		    url: button.data('toload'),
		    'csrfmiddlewaretoken' : '{{ csrf_token }}'
		}).done(function (data) {
		    $("#editModalContent").html(data);
		});


	})

	$('#editModal').on('hide.bs.modal', function(event) {

	        $('#editModal').html('  <div class="modal-dialog" role="document">    <div class="modal-content">      <div class="modal-header">        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        <h4 class="modal-title" id="myModalLabel">Edit Entry</h4>      </div>         <div class="modal-body" id="editModalContent">              <!-- My content will go there -->       </div><!--       <div class="modal-footer">        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        <button type="button" class="btn btn-primary">Save changes</button>      </div> -->    </div>  </div>');

	})

	/* toggle personal */
			$(document).on("click", ".showpersonal", function(){
				// this is the checkbox as input. So it's parent is required to be checked
				// completed css will put a line-through as text-decoration
				// si checked alors il n'est plus à faire
	            $("li.list-group-item:not(.personal)").toggleClass("hide_entry");

			});


	/* toggle created_at */
			$(document).on("click", ".switch", function(){
				// this is the checkbox as input. So it's parent is required to be checked
				// completed css will put a line-through as text-decoration
				// si checked alors il n'est plus à faire
	            $(".switchable").toggleClass("hide_entry");

			});

	/* move to EntryComple(id) sucessful Ajax load */
			$(document).on("click", ".entrycheckmark", function(){
				// this is the checkbox as input. So it's parent is required to be checked
				// completed css will put a line-through as text-decoration
				// si checked alors il n'est plus à faire
				$(this).toggleClass("todo");
				$(this).toggleClass("completed");

				if ( $( this ).hasClass( "completed" ) ) {
					// if we have class todo, then we hide
					//if not (we are on the them list for instance, then we don't hide this entry)
					$(this).closest('li[class^="list-group-item"]').addClass("hide_entry");
				}
//	            $(this).parent().parent().parent().addClass("hide_entry");
	            $('#todo_list').listview("refresh");

	            $(this).parent().parent().slideUp("slow", function(){
	            });

	            setTimeout(function() {

	            },30);

			});


	// /* changing the top menu active button selection */
	//         $(document).on("click", ".top_menu", function(){
	//             // this is the checkbox as input. So it's parent is required to be checked
	//             // completed css will put a line-through as text-decoration
	//             // si checked alors il n'est plus à faire
	//             $( ".top_menu" ).removeClass( "ui-btn-active" );
	//             $(this).addClass("ui-btn-active");

	//         });
	});


	    function EntryComplete(id)
	    {
	    //	var points = $("input").val();
	        $.ajax({
	            url: "/entries/update/"+id+"/",
	            type: "POST",
	            data: {
	            	'value': 1},
	            success: function(response) {
	// do the toggleClass only when load is sucessfull
	//				$(this).toggleClass("todo");
	//				$(this).toggleClass("completed");

	            },

	        });
	    }

	    function EntryImpediment(id)
	    {
	    //	var points = $("input").val();
	        $.ajax({
	            dataType: "json",
	            url: "/entries/update/"+id+"/",
	            type: "POST",
	            data: {
	            	'field' : 'impediment',
	            	'impediment': 1},
	            success: function(response) {
	            },

	        });
	    }

	// Sortable listview
	// we will have to save it
	/*
	  $(document).bind('pageinit', function() {
	    $( "#todo_list" ).sortable();
	    $( "#todo_list" ).disableSelection();
	    <!-- Refresh list to the end of sort to have a correct display -->
	    $( "#todo_list" ).bind( "sortstop", function(event, ui) {
	      $('#todo_list').listview('refresh');
	    });
	  });
	  
	*/


</script>

	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/jquery.parallax-1.1.3.js" %}"></script>
	<script src="{% static "js/imagesloaded.pkgd.js" %}"></script>
	<script src="{% static "js/jquery.sticky.js" %}"></script>
	<script src="{% static "js/smoothscroll.js" %}"></script>
	<script src="{% static "js/wow.min.js" %}"></script>
    <script src="{% static "js/jquery.easypiechart.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "js/jquery.cbpQTRotator.js" %}"></script>
	<script src="{% static "js/custom.js" %}"></script>

</body>
</html>
