/* For Bootstrap list */

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.tile {
    height: 50px;
}
.grid {
    margin-top: 1em; 
}

/* For the slider - no longer used *
	top:0 !important;
	*/
.ui-li-aside {

}
.overdue {
	color:red;
}

/* For the checkmark that could have either todo or completed class */
.todo {
	color:lightgrey;
}

.completed {
	color:black;
}

.hide_entry {
	display: none;
}

/* For the checkmark that could have either todo or completed class 
http://stackoverflow.com/questions/21626443/jquery-mobile-listview-applying-the-list-item-background-color

*/

a.section {
	background:red !important;
}



/* To create a container when sorting listview */
.ui-state-highlight {
    height: 45px; line-height: 45px;
    margin: 5px 0;
    border: 1px solid #FCEFA1;
    background: #FBF9EE repeat-x scroll 50% 50%;
    color: #363636;
}

.ui-fixed-hidden {
    position: fixed;
}