/* For Footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 130px;
  background-color: #f5f5f5;
}


/* Specific on mobile */

@media screen and (min-width: 768px) {
  .menucreate {
      display: none !important;
  }
  #create-collapse {
      display: none !important;    
  }
}

@media screen and (max-width: 768px) {
  .footerform {
    display: none;
  }
  .hide_details_mobile {
  display: none;
  }

/* For the sign-up form */
  .section-heading-sign-up {
  margin: 50px 0px 30px;
  }


}

/* For Bootstrap list */

#editModal {
    margin-top: 0;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}

.selector {
    cursor: move;
    vertical-align: middle;
    margin-top: 5px;
}

.editor {
    cursor: pointer;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

.tile {
    height: 50px;
}
.grid {
    margin-top: 1em; 
}

/* For the slider - no longer used *
	top:0 !important;
	*/
.ui-li-aside {

}
.overdue {
	color:red;
}

.sender {
  color:lightgrey;
}

/* For the checkmark that could have either todo or completed class */
.todo {
	color:lightgrey;
	cursor: pointer;
}

.completed {
	color:black;
  cursor: pointer;
}

.hide_entry {
	display: none;
}

/* For the checkmark that could have either todo or completed class 
http://stackoverflow.com/questions/21626443/jquery-mobile-listview-applying-the-list-item-background-color

*/

a.section {
	background:red !important;
}



/* To create a container when sorting listview */
.ui-state-highlight {
    height: 45px; line-height: 45px;
    margin: 0px 0;
    border: 1px solid #FCEFA1;
    background: #FBF9EE repeat-x scroll 50% 50%;
    color: #363636;
}

.ui-fixed-hidden {
    position: fixed;
}