{% load widget_tweaks %}

<p>
<div class="header-buffer">
</div>
<section id="services">
<div class="container">
<div class="row">
{% if form %}
	<div class="col-xs-12 col-md-12">
		<form action="" method="post" data-ajax="false" enctype="multipart/form-data">{% csrf_token %}{{ form.media }}

<!-- Entry Name field -->

				<div class="col-xs-12 col-sm-6">
					<div class="form-group warning">
						<label for="exampleInputFile">{{ form.name.label }}</label>
						{{ form.name|add_class:"form-control"}}
						{% if form.name.help_text %}<p class="help-block">{{ form.name.help_text }}</p>{% endif %}
					</div>
				</div>
				{% if form.name.errors %}
					{% for error in form.name.errors %}
					<div class="alert alert-danger" id="error_{{ form.name.name }}">{{ error|escape }}</div>
					{% endfor %}
				{% endif %}

<!-- Entry Theme field -->
				<div class="col-xs-6 col-sm-2">
					<div class="form-group warning">
						<label for="exampleInputFile">{{ form.theme.label }}</label>
						{{ form.theme|add_class:"form-control"}}
						{% if form.theme.help_text %}<p class="help-block">{{ form.theme.help_text }}</p>{% endif %}
					</div>
				</div>
				{% if form.theme.errors %}
					{% for error in form.theme.errors %}
					<div class="alert alert-danger" id="error_{{ form.theme.name }}">{{ error|escape }}</div>
					{% endfor %}
				{% endif %}

<!-- Section Name field -->
				<div class="col-xs-6 col-sm-2">
					<div class="form-group warning">
						<label for="exampleInputFile">{{ form.section_name.label }}</label>
						{{ form.section_name|add_class:"form-control"}}
						{% if form.section_name.help_text %}<p class="help-block">{{ form.section_name.help_text }}</p>{% endif %}
					</div>
				</div>
				{% if form.section_name.errors %}
					{% for error in form.section_name.errors %}
					<div class="alert alert-danger" id="error_{{ form.section_name.name }}">{{ error|escape }}</div>
					{% endfor %}
				{% endif %}
<!-- Due Date field -->
				<div class="hidden-xs col-sm-2">
					<div class="form-group warning">
						<label for="exampleInputFile">Due date?<!-- {{ form.duedate.label }} --></label>
						{{ form.duedate|add_class:"form-control"|attr:"onfocus : return InitiateDate(this);" }}
						{% if form.duedate.help_text %}<p class="help-block">{{ form.duedate.help_text }}</p>{% endif %}
					</div>
				</div>
				{% if form.duedate.errors %}
					{% for error in form.duedate.errors %}
					<div class="alert alert-danger" id="error_{{ form.duedate.name }}">{{ error|escape }}</div>
					{% endfor %}
				{% endif %}


			<div class="col-xs-6 col-sm-2"><p>
				<input type="submit" class="btn btn-success" role="button" value="{{ verb|default:"Add" }}" />
			</div>
		</form>
	</div>
{% endif %}
</div>
</div>
</section>
<p>