{% load widget_tweaks %}

<p>
<div class="header-buffer">
</div>
<section id="services">
<div class="container">
<div class="row">
{% if form %}
	<div class="col-md-12">
		<form action="" method="post" data-ajax="false" enctype="multipart/form-data">{% csrf_token %}{{ form.media }}

<!-- Entry Name field -->

				<div class="col-xs-6 col-sm-4">
					<div class="form-group warning">
						<label for="exampleInputFile">{{ form.name.label }}</label>
						{{ form.name|add_class:"form-control"}}
						{% if form.name.help_text %}<p class="help-block">{{ form.name.help_text }}</p>{% endif %}
					</div>
				</div>
				{% if form.name.errors %}
					{% for error in field.errors %}
					<div class="alert alert-danger" id="error_{{ field.name }}">{{ error|escape }}</div>
					{% endfor %}
				{% endif %}

<!-- Due Date field -->
				<div class="col-xs-6 col-sm-4">
					<div class="form-group warning">
						<label for="exampleInputFile" class="hidden-xs">{{ form.duedate.label }}</label>
						{{ form.duedate|add_class:"form-control hidden-xs"}}
						{% if form.duedate.help_text %}<p class="help-block">{{ form.duedate.help_text }}</p>{% endif %}
					</div>
				</div>
				{% if form.duedate.errors %}
					{% for error in field.errors %}
					<div class="alert alert-danger" id="error_{{ field.name }}">{{ error|escape }}</div>
					{% endfor %}
				{% endif %}


			<div class="col-xs-6 col-sm-4">
				<input type="submit" class="btn btn-success" role="button" value="{{ verb|default:"Add to the list" }}" />
			</div>
		</form>
	</div>
{% endif %}
</div>
</div>
</section>
<p>