{% extends "base/theme.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css_js %}

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">



	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> <!-- for sortable UI -->

	<!-- Ajax Form submission 
	http://www.abidibo.net/blog/2014/05/26/how-implement-modal-popup-django-forms-bootstrap/
	-->
	<script src="http://malsup.github.com/jquery.form.js"></script> 

    <link rel="stylesheet" href="{% static "css/zoomi.css" %}">
    <script src="{% static "js/zoomi.js" %}"></script>

<script>
//	For the Editpopup

	$(document).ready(function () {

		$(document).on("click", ".options", function(){
//	click on the gear
			$("#edit_entry").load($(this).attr('data-to-load'));
			setTimeout( function() {
				$("#edit_entry").popup("open");
			}
				, 50);
// ???			$(this).parent().toggleClass("state_on");
		})
	
		$(function() {
	    $( "#todo_list" ).sortable({
	      placeholder: "ui-state-highlight",
	      stop: function (event, ui) {
	          $('#todo_list').listview('refresh');

	      // then we post the context to save the sorting
	        var serial = $('#todo_list').sortable('serialize');
	        console.log(serial);
	        $.ajax({
//	          url: "{{ index.get_index_url }}",
	          url: "{% url 'index' %}",
	          type: "post",
	          data: { 'content': serial, 'csrfmiddlewaretoken' : '{{ csrf_token }}' } 
	        });

	      }
	    });
	    $( "#todo_list" ).disableSelection();
		});

});

</script>


{% endblock %}

<div data-role="page">
<!-- data-quicklinks="true"
 -->
 	{% block navigation %}
	<div data-role="header" data-position="fixed">
			<h1>Welcome to Zoomi</h1>
<!-- 			<a href="/logout" data-icon="gear" class="ui-btn-right">Logout</a>
 -->			<a href="/logout" data-ajax="false" class="ui-btn-right">Logout</a>
		<div data-role="navbar" data-iconpos="right">
			<ul class="top_menu">
			    <li><a href="/" data-ajax="false" data-icon="star">Your List {{ request.view }} </a></li>
			    <li><a href="/transferred" data-ajax="false" data-icon="action">Transferred {{ object_list|length }}</a></li>
			    <li><a href="/theme" data-icon="grid">Theme</a></li>
			    <li><a href="/options" data-icon="gear">Options</a></li>
			</ul>
		</div>
	</div>
	{% endblock %}

	{% block animation %}
	{% endblock %}

 	{% block content %}
 	<div data-role="content"> 
<!-- data-split-icon="gear" -->
			<ul id="todo_list" data-role="listview" data-filter="true"  data-split-icon="gear" data-split-theme="a" data-filter-placeholder="Search an action ..." data-inset="true">
			    {% for objects in object_list %}
			    	<li id="entry_{{ objects.id }}" data-icon="gear" class="ui-state-default" {% if objects.section == 1 %}data-theme="b"{% endif %} >
			    		{% include 'entry/details.html' %}
			    	</li>
			    {% endfor %}

			</ul>

	<div data-role="footer" data-position="fixed">
		    	{% include 'entry/create.html' %}
	</div>

		<div data-role="popup" id="edit_entry" data-history="false" data-theme="a" class="ui-corner-all">
			<!-- That's for the edit modal popup -->

		</div>
	</div>
		{% endblock %}
</div>


{% block footer %}
{% endblock %}
