{% load widget_tweaks %}


<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h4 class="modal-title" id="myModalLabel">Pratica</h4>
</div>
<div class="modal-body"> <p>Fuck yeah!</p>

	<script>
		setTimeout(function() {
			$('#popupLogin').modal('hide');
			}, 1000);
		$('body').on('hidden.bs.modal', '.modal', function () {
			// we intend to remove data loaded
//			$(this).removeData('bs.modal');
		});
	</script>
</div>
<div class="modal-footer"> </div>