{% load widget_tweaks %}
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


<ul data-role="listview" data-filter="true"  data-split-icon="gear" data-split-theme="a" data-filter-placeholder="Search an action ..." data-inset="true">

    {% for objects in object_list %}
      <li id="entry_{{ objects.id }}" class="ui-state-default">
        <a href="{{ objects.update_entry_url }}" data-ajax="false">{{ objects }}</a>
<a href="#details" data-rel="popup" data-position-to="window" data-transition="pop">Details</a>
      </li>
    {% endfor %}

</ul>


{% include 'v2/entry/popup.html' %}

<p>
<div class="header-buffer">
</div>
<section id="services">
<div class="container">
<div class="row">
{% if form %}
<div class="col-md-12">
<form action="" method="post" data-ajax="false" enctype="multipart/form-data">{% csrf_token %}{{ form.media }}
{% for field in form %}
<div class="form-group warning">
<label for="exampleInputFile">{{ field.label }}</label>
{{ field|add_class:"form-control"}}
{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
</div>
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" id="error_{{ field.name }}">{{ error|escape }}</div>
{% endfor %}
{% endif %}
{% endfor %}
<input type="submit" class="btn btn-success" role="button" value="{{ verb|default:"Add to the list" }}" />
</form>
</div>
{% endif %}
</div>
</div>
</section>
<p>

